  <h1>Zohan Hair Salon: Administrative Dashboard</h1>
  <hr>
  <img src="" alt="" />
  <h4><a href="/stylists">My Stylists</a></h4>
  <br>
  <hr>
  <img src="" alt="" />
  <h4><a href="/clients">My Clients</a></h4>
